body {
    margin: 10px;
}

table {
    border-color: #c4dcf3;
    padding: 5px; 
}
tfoot {
    text-align:left;
}
th {
    background-color: #427fef;
   
}

 td:nth-child(odd) {
background-color: #eef7ff;

}